<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Administrador</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='estilos/sb-admin-2.min.css') }}">

</head>
<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-text mx-3">
                Gestion de <br/>prestamos
            </div>
        </a>
        <hr class="sidebar-divider my-0"/>
        <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:5000/dashboard"><span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider"/>
        <div class="sidebar-heading">Opciones</div>
       <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/equipos"><span>Equipos</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/categoria"><span>Categorias</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/estudiantes"><span>Estudiantes</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/prestamos"><span>Prestamos</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/usuarios"><span>Usuarios</span></a>
        </li>
        <hr class="sidebar-divider"/>
        <li class="nav-item">
            {% if session['usuarioid'] %}
                <a class="nav-link collapsed text-center" href="{{ url_for('logout') }}"><span
                        class="text-center">Salir</span></a>
            {% endif %}
        </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>

                    </li>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if session['usuarioid'] %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session.nombre }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800 ml-4">Dashboard</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Equipos totales
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ total_equipos }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Equipos prestados
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ total_equipos_prestados }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Equipos Devueltos
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    {{ total_equipos_devueltos }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Equipos no devueltos
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ total_equipos_no_devueltos }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> Generar reporte
                </a>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true"></div>
</body>
</html>
