<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Administrador</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='estilos/sb-admin-2.min.css') }}">
    <script src="{{ url_for('static',filename='js/prestamos.js') }}"></script>
</head>
<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-text mx-3">
                Gestion de <br/>prestamos
            </div>
        </a>
        <hr class="sidebar-divider my-0"/>
        <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:5000/dashboard"><span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider"/>
        <div class="sidebar-heading">Opciones</div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/equipos"><span>Equipos</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/categoria"><span>Categorias</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/estudiantes"><span>Estudiantes</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/prestamos"><span>Prestamos</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:5000/usuarios"><span>Usuarios</span></a>
        </li>
        <hr class="sidebar-divider"/>
        <li class="nav-item">
            {% if session['usuarioid'] %}
                <a class="nav-link collapsed text-center" href="{{ url_for('logout') }}"><span
                        class="text-center">Salir</span></a>
            {% endif %}
        </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if session['usuarioid'] %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session.nombre }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800 ml-4">Panel de gestion de prestamos</h1>
                </div>
                <div class="">
                    <div class="float-right mb-2 col-md-2">
                        <button type="button" id="registerLoan" class="btn btn-info bg-gradient-primary"
                                title="Add equipo"><span
                                class="">Agregar prestamo</span></button>
                    </div>
                    <br><br>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Préstamos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Prestamo ID</th>
                                        <th>Equipo ID</th>
                                        <th>Estudiante ID</th>
                                        <th>Fecha de Prestamo</th>
                                        <th>Fecha de Devolución Esperada</th>
                                        <th>Codigo QR</th>
                                        <th>Estatus</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for prestamo in prestamos %}
                                        <tr>
                                            <td>{{ prestamo.prestamoid }}</td>
                                            <td>{{ prestamo.equipoid }}</td>
                                            <td>{{ prestamo.estudianteid }}</td>
                                            <td>{{ prestamo.fechadeprestamo }}</td>
                                            <td>{{ prestamo.fechadedevolucionesperada }}</td>
                                            <td><img src="data:image/png;base64,{{ prestamo.qr_img }}" alt="Código QR">
                                            </td>
                                            <td>{{ prestamo.estatus }}</td>
                                            <td>
                                                <a href="{{ url_for('editar_prestamo', prestamoid=prestamo.prestamoid) }}"
                                                   class="btn btn-primary">Editar</a>
                                            </td>
                                            <td>
                                                <a href="{{ url_for('eliminar_prestamo', prestamoid=prestamo.prestamoid) }}"
                                                   class="btn btn-danger">Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div id="registerLoanModal" class="modal fade">
                    <div class="modal-dialog">
                        <form method="post" id="registerLoanForm" action="{{ url_for('registrar_prestamo') }}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><i class="fa fa-plus"></i> Registrar Préstamo</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="equipoid" class="control-label">Equipo</label>
                                        <select name="equipoid" id="equipoid" class="form-control">
                                            <option value="">Seleccionar</option>
                                            {% for equipo in equipos %}
                                                <option value="{{ equipo.equipoid }}">{{ equipo.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="estudianteid" class="control-label">Estudiante</label>
                                        <select name="estudianteid" id="estudianteid" class="form-control">
                                            <option value="">Seleccionar</option>
                                            {% for estudiante in estudiantes %}
                                                <option value="{{ estudiante.estudiantesid }}">{{ estudiante.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fechadeprestamo" class="control-label">Fecha de Préstamo</label>
                                        <input type="datetime-local" name="fechadeprestamo" id="fechadeprestamo"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="fechadedevolucionesperada" class="control-label">Fecha de Devolución
                                            Esperada</label>
                                        <input type="datetime-local" name="fechadedevolucionesperada"
                                               id="fechadedevolucionesperada"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="status" class="control-label">Status</label>
                                        <select class="form-control" id="estatus" name="estatus"/>
                                        <option value="">Seleccionar</option>
                                        <option value="Prestado">Prestado</option>
                                        <option value="Devuelto">Devuelto</option>
                                        <option value="No devuelto">No devuelto</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="equipoid" id="equipoid"/>
                                    <input type="hidden" name="action" id="action" value=""/>
                                    <button type="submit" name="save" id="save" class="btn btn-info">Guardar</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
